<h1>All Chocolates</h1>

<% @products.each do |product| %>
  <h2>
    <%= link_to product.name, product_path(product) %>
  </h2>
  <p><%= truncate(product.description, length: 100) %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Origin Country</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.brand.name if product.brand %></td>
        <td>
          <% if product.countries.any? %>
            <%= product.countries.map(&:name).join(", ") %>
          <% else %>
            Unknown
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
